/*Author: Raathiyah Chota
/*Date: May 08 2024
*/

/*
COLORS
#122621 - dark green/cyan (for text)
#88582f - brown
#2f5056 - navy blue
#d6bcae - light pink
#c2c8c6 - grey
#ded2c5 - beige
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*GLOBAL STYLES
-----------------------
*/
body {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Montserrat';
    color: #122621; /*dark green cyan */
    margin: 0;
}

h1 {
    font-size: 3em;
    font-weight: 700;
}


h2 {
    font-size: 2.5em;
    font-weight: 700;
}

a {
    color:#88582f;
}

a:visited {
    color:#2f5056;
}

#wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    position: relative;
}

p {
    margin-bottom: 1em;
}

div {
    margin-bottom: 2em;
}


/*HEADER
-----------------------
*/
header {
    background: #ded2c5 url(images/banner_1200.jpg) no-repeat top center/cover; 
    height: 430px;
    color: white;
}

header h1 {
    font-size: 5em;
    display: block;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    margin-left: 0.5em;
    font-weight: bold;
    text-shadow: 2px 2px #122621;
}

header img {
    position: relative;
    top: -5px; left: 20px;
    z-index: 999;
}


/*NAVIGATION
-----------------------
*/

nav {
    position: absolute;
    top: 0px; left: 0px;
    width: 100%; /* =1200px */
    padding-top: 45px;
}

nav ul {
    padding-left: 200px;
    list-style: none;
}

nav li {
    display: inline;
}

nav a {
    color: #2f5056;
    text-decoration: none;
    padding: 10px 15px 20px 15px;
}

nav a:visited {
    color: #2f5056;
}

nav a:hover {
    background-color: rgba(194,200,198,0.7);
    border-radius: 3px;
}

nav span {
    background-color: rgba(194,200,198,0.7);
    border-radius: 3px;
    padding: 10px 15px 20px 15px;
}


/*CONTENT AREA
-----------------------
*/

#three-columns {
   display: flex;
   margin: 30px 0;
   text-align: center;
}

#three-columns h2 {
    font-size: 1.5em;
}

#three-columns p {
    font-size: 1em;
}

#three-columns section {
    padding: 0 20px;
}

/*CONTENT AREA 2
_________________________
*/

#events {
    background: #2f5056;
    color: white;
    display: flex;
    padding: 25px;
}

#events h2 {
    margin: 0;
}

#events div {
    padding-left: 25px;
}

#events a {
	color: #ffffff;
	text-decoration: none;
	font-size: 1.2em;
	border: 1px solid #ffffff;
	padding: 4px 15px;
}

    


/*SIDEBAR
-----------------------
*/

aside {
    display: flex;
    background-color: #d6bcae;
}

aside h2 {
    font-size: 1.2em;
}

aside img {
    width: 70%; height: auto;
}

aside section {
    padding: 25px;
}

/*SIDEBAR BLOCKQUOTE
-----------------------
*/

blockquote {
    background: white;
    margin-bottom: 0;
    align-self: flex-end;
    padding: 30px 25px 25px 25px;
    font-style: italic;
    font-size: 1em;
}


/*FOOTER
-----------------------
*/
footer {
    font-size: 0.8em;
    text-align: center;
}

footer ul {
    list-style: none;
    justify-content: center;
}

footer li {
    display: inline-block;
    margin-right: 10px;
}

/*MEDIA QUERIES 
________________________
*/

@media (max-width: 1000px) {
    #wrapper {
        width: 100%;
    }
    
    #events h2 {
        margin: 0;
    }
}

@media (max-width: 800px) {
    header {
        background: url(images/banner_800.png);
        height: 290px;
    }
    
    header img {
        width:20%; height: auto;
    }
    
    header h1 {
        visibility: hidden;
    }
    
    nav { padding-top:70px; }
    
    nav ul { padding-left:5px; }
    
    img {
        width: auto;
        height: auto;
    }
    
    .column {
        display: block;
    }
    
    #three-columns {
        display: block;
        text-align: left;
    }
    
    #three-columns img {
        float: left;
        margin: 20px 20px;
    }
    
    #events {
        flex-wrap: wrap;
    }
    
    
    footer ul {
        flex-wrap: wrap;
    }
    
    footer li {
        padding-bottom: 10px;
    }
}

@media (max-width:600px) {
    
    h2 {
        font-size: 1em;
    }
    
    p {
        font-size: 0.9em;
    }
    
    a {
        font-size: 0.8em;
    }
    
    blockquote {
        font-size: 0.8em;
        padding-top: 5px;
    }
    
    header {
        background-image: none;
    }
    
    header {
        height: 200px;
    }
    
    header img {
        width: 100px;
    }
    
    #three-columns img {
        visibility:hidden;
    }
    
    #three-columns {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    #events img {
        padding-bottom: 15px;
    }
    
    nav a {
        padding: 5px 5px 5px 5px;
    }
    
    .row {
        flex-direction: column;
    }
    
    iframe {
        overflow: hidden;
        position: relative;
    }
    
    .col-lg-8 p {
        font-size: 1em;
        word-spacing: 5px;
    }
    
}

/*ABOUT US 
___________________
*/

* {
    box-sizing: border-box;
}

.about p {
    font-size: 1rem;
    color: black;
    max-width: 800px;
    margin-bottom: 1em;
}

.about-info {
    margin: 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.about-img {
    width: 20rem;
    height: 20rem;
 
}

.about-img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: contain;
}

.about-info p {
    font-size: 1.3rem;
    margin: 0 2rem;
    text-align: justify;
}

/*WHAT WE OFFER SECTION
---------------------------
*/

.column {
  float:left;
  width: 33%;
  padding: 0 65px;
  padding-bottom: 50px;
    
}


/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}



.offers {
    padding: 30px 0 ;
    text-align: center;
    font-size: 0.1rem;
}

.offers h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

.offers-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-row-gap: 10px;
    margin-top: 10px;
}

.offers p {
    font-size: 8.5em;
}

.card {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    width: 18rem;
    height: 25rem;
    margin-top: 10px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
}

.card-img {
    width: 18rem;
    height: 12rem;
}

.card-img img {
    width: 50%;
    object-fit: cover;
    margin-top: auto;
}

.card-info button {
    margin: 0 auto;
}

.card-name {
    font-size: 2rem;
    margin: 10px 0;
}

.card-role {
    font-size: 1rem;
    color: #88582f;
    margin: 5px 0;
}

video {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 50px;
}

/* SIGN UP FORM 
--------------------
*/


* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #c2c8c6;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #c2c8c6;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #122621;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #88582f;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


/*GETTING STARTED 
---------------------
*/
    
.imageGettingStartedPage {
    width: 33%;
}

#gettingstarted {
    margin-top: 4rem;
    padding-top: 4rem;
}

/* RESOURCES
----------------------
*/

#center {

text-align: center;

}

.firstsection {
    background-color: #ded2c5;
    height: 400px;
}

.wf-btn {
  background-color: #c2c8c6;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
}

.secondsection {
    background-color: #88582f;
    height: 400px;
}

.wg-btn {
    background-color: #d6bcae;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    max-width: 80%;
    margin: auto;
    height: 80%;
}

.firsthalf {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondhalf {
    width: 30%;
}

.secondhalf img {
    width: 70%;
    border: 4px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;
}

.text-big {
    font-weight: bold;
    font-size: 35px;
}

.text-small {
    font-size: 18px;
}

.section {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: auto;
}

.wt-btn {
    background-color: #c2c8c6;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
}

.section-Left {
    flex-direction: row-reverse;
}

.paras {
    padding: 0px 65px;
}

.center {
    text-align: center;
}

iframe {
    display: block;
    margin: 0 auto;
    border: 0px;
}

    

/* CONTACT US
----------------------
*/
.contact-form {
    padding: 40px 0;
    margin: 0 10px;
}

.form-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ded2c5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contact-form h3 {
    text-align: center;
    margin-bottom: 20px;
}
    
.form-group {
    margin-bottom: 20px;
}
 
.form-container label {
    display:block;
    font-weight: bold;
}
.form-container input, textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
    resize: vertical;
}
.submit-button {
    padding: 10px 20px;
    background-color: #2f5056;
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}